<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="buraksoykal.com.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:name=".NGApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name=".FirebaseListener">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".NGPushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.netmera.push.intent.REGISTER" />
                <action android:name="com.netmera.push.intent.RECEIVE" />
                <action android:name="com.netmera.push.intent.OPEN" />
                <action android:name="com.netmera.push.intent.DISMISS" />
                <action android:name="com.netmera.push.intent.BUTTON" />
                <!-- If you want to use carousel push notifications, you should add the following actions. -->
                <action android:name="com.netmera.push.intent.carousel.OPEN" />
                <action android:name="com.netmera.push.intent.carousel.PREV" />
                <action android:name="com.netmera.push.intent.carousel.NEXT" />
                <action android:name="com.netmera.push.intent.carousel.ITEM" />
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>